[submodule "src/ruri"]
	path = src/ruri
	url = https://github.com/Moe-hacker/ruri
[submodule "src/rootfstool"]
	path = src/rootfstool
	url = https://github.com/Moe-hacker/rootfstool
[submodule "src/yoshinon"]
	path = src/yoshinon
	url = https://github.com/Moe-hacker/yoshinon
[submodule "src/nekoasc"]
	path = src/nekoasc
	url = https://github.com/moe-hacker/nekoasc
