[submodule "src/rootfstool"]
	path = src/rootfstool
	url = https://github.com/Moe-hacker/rootfstool
[submodule "src/yoshinon"]
	path = src/yoshinon
	url = https://github.com/Moe-hacker/yoshinon
[submodule "src/rurima"]
	path = src/rurima
	url = https://github.com/Moe-hacker/rurima
